<%- include("header") -%>

<div class="signup">
    <h1>Sign up</h1>
    <form id="signupForm" action="/signup" method="POST">
        <div class="form-control">
            <label for="username">Username (email)</label>
            <input
                name="username"
                placeholder="name@example.com"
                type="text"
                value="<%= locals.data?.username  %>"
                required
            />
        </div>
        <div class="form-control">
            <label for="firstname">First name</label>
            <input
                name="firstname"
                placeholder="First name"
                type="text"
                value="<%= locals.data?.firstname %>"
                required
            />
        </div>
        <div class="form-control">
            <label for="lastname">Last name</label>
            <input
                name="lastname"
                placeholder="Last name"
                type="text"
                value="<%= locals.data?.lastname %>"
                required
            />
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input name="password" type="password" required />
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirm password</label>
            <input name="confirmPassword" type="password" required />
        </div>
        <button class="h-captcha" data-sitekey="e09d083b-494d-45e4-892c-041807d3fbdd" data-callback="onSubmit">Sign up</button>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    </form>
    <% if (locals.errors) {%>
    <ul class="errors">
        <% errors.map(function(error) {%>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <%} %>
</div>

<div class="h-captcha-terms">This site is protected by hCaptcha and its
    <a href="https://www.hcaptcha.com/privacy">Privacy Policy</a> and
    <a href="https://www.hcaptcha.com/terms">Terms of Service</a> apply.</div>

<script>
    function onSubmit(token) {
        const form = document.querySelector("#signupForm");
        form.submit()
    }
</script>

<%- include("footer") -%>
